.idea
ptf/*.log
ptf/*.pcap
**/*.pyc
.yapf/
*.swp
*.code-workspace
*.iml
tmp/
target/
onos-tools/
app/app/src/main/resources/p4info.txt
app/mvn_settings.xml
app/dependencies.xml
.m2/

*.class
*.DS_Store
