# SPDX-FileCopyrightText: 2020 Open Networking Foundation <info@opennetworking.org>
# SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
[submodule "app/app/external/dbuf"]
	path = app/app/external/dbuf
	url = git@github.com:omec-project/dbuf.git
