# SPDX-FileCopyrightText: 2020 Open Networking Foundation <info@opennetworking.org>
# SPDX-License-Identifier: Apache-2.0
[submodule "app/app/external/dbuf"]
	path = app/app/external/dbuf
	url = https://github.com/omec-project/dbuf.git
