# SPDX-FileCopyrightText: 2020 Open Networking Foundation <info@opennetworking.org>
# SPDX-License-Identifier: Apache-2.0
**/*.pyc
*.code-workspace
*.iml
*.swp
/venv/
/.idea/
/app/.idea/
/.yapf/
/.m2/
/app/**/target/
/app/app/src/main/java/org/omecproject/dbuf/grpc/*
/app/app/src/main/resources/p4info.txt
/app/dependencies.xml
/app/mvn_settings.xml
/ptf/*.log
/ptf/*.pcap
/scenarios/tmp
/scenarios/onos-test
/scenarios/sdfabric-onos
/scenarios/.build-sdfabric-onos

# FIXME: .bin format of P4info changes accross builds
#  Ignore for now to avoid breaking CI (which makes sure
#  the p4c out is up-to-date)
/p4src/build/p4info.bin

*.class
*.DS_Store
